<div class="card mb-4 text-center">

    <!-- Mirador container -->
    <div id="mirador" style="width: 100%; height: 700px;"></div>

    <div class="card-body">
        {% include item/download-buttons.html %}
    </div>

</div>

<!-- Load Mirador assets from CDN -->
<link rel="stylesheet" href="https://unpkg.com/mirador/dist/css/mirador.min.css"/>
<script src="https://unpkg.com/mirador/dist/mirador.min.js"></script>

<!-- Load Mirador Annotations plugin -->
<script src="https://unpkg.com/mirador-annotations/dist/mirador-annotations.min.js"></script>

<!-- Initialize Mirador -->
<script>
  var miradorInstance = Mirador.viewer({
    id: 'mirador',
    themes: {
      dark: {
        palette: {
          type: 'dark',
          primary: {
            main: '#ace600',
          },
        },
      },
      light: {
        palette: {
          type: 'light',
          primary: {
            main: '#ace600',
          },
        },
      },
    },
    windows: [{
      manifestId: "{{ page.object_location | relative_url }}"
    }],
    plugins: [
      MiradorAnnotations
    ]
  });
</script>