<div id="openseadragon1" style="width: 800px; height: 600px;"></div>

<script src="https://openseadragon.github.io/openseadragon/openseadragon.min.js"></script>
<script>
  fetch('{{ page.object_location || relative_url }}')
    .then(r => r.json())
    .then(data => {
      OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "https://openseadragon.github.io/openseadragon/images/",
        tileSources: data.tileSources  // <-- Usamos el array que generamos
      });
    });
</script>
